p {
    color: blue;
    font-weight: lighter;
    font-family: sans-serif;
}

#mainbtn {
    background-color: rgb(42, 188, 228);
    color: white;
    padding: 10px 30px;
    border-style: solid;
    border-radius: 10px;
}

#mainbtn:hover {
    background-color: black;
    color: white;
}

h1 {
    border-radius: 10px;
}

a {
    text-decoration: none;
}

#allh1s {
    display: flex;
    justify-content: center;
}

#logoo {
    height: 75px;
    width: 125px;
}

header {
    display: flex;
    justify-content: space-evenly;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}